{
  "swagger" : "2.0",
  "host": "api.bol.com",
  "schemes": ["https"], 
  "info" : {
    "description" : "The bol.com API for advertisers.",
    "version" : "9.x",
    "title" : "v9 - Advertising API"
  },
  "tags" : [ {
    "name" : "Ad Groups"
  }, {
    "name" : "Assortments"
  }, {
    "name" : "Campaigns"
  }, {
    "name" : "Keywords"
  }, {
    "name" : "Negative Keywords"
  }, {
    "name" : "Reporting"
  }, {
    "name" : "Target Products"
  } ],
  "paths" : {
    "/advertiser/assortments" : {
      "get" : {
        "tags" : [ "Assortments" ],
        "summary" : "Get a list of products available for advertising",
        "description" : "Gets a list of all products that the advertiser is selling on the bol.com platform and that are available for advertising.",
        "operationId" : "get-assortments",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Assortments"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/ad-group-performance/{ad-group-id}" : {
      "get" : {
        "tags" : [ "Reporting" ],
        "summary" : "Get ad group performance results",
        "description" : "Gets the performance results of an ad group for the period requested. The results are aggregated per day.",
        "operationId" : "get-ad-group-performance",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "path",
          "description" : "The identifier of the ad group.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "start-date",
          "in" : "query",
          "description" : "The start date for the reporting period. Period start date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-01-31"
        }, {
          "name" : "end-date",
          "in" : "query",
          "description" : "The end date for the reporting period. This will be one day after the last full day that is included in the reporting. Period end date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-02-02"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/AdGroupPerformanceResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/ad-groups" : {
      "get" : {
        "tags" : [ "Ad Groups" ],
        "summary" : "Get a list of ad groups",
        "description" : "Gets a paginated list of all ad groups that are present within a campaign.",
        "operationId" : "get-ad-groups",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "campaign-id",
          "in" : "query",
          "description" : "Unique identifier for the campaign.",
          "required" : true,
          "type" : "string",
          "x-example" : "Unique identifier for the campaign."
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/AdGroupsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ad Groups" ],
        "summary" : "Create an ad group",
        "description" : "Creates an ad group.",
        "operationId" : "post-ad-group",
        "consumes" : [ "application/vnd.advertiser.v9+json" ],
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateAdGroupRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/ad-groups/{ad-group-id}" : {
      "get" : {
        "tags" : [ "Ad Groups" ],
        "summary" : "Get an ad group by ad group id",
        "description" : "Gets the details of an ad group.",
        "operationId" : "get-ad-group-by-id",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "path",
          "description" : "The identifier of the ad group.",
          "required" : true,
          "type" : "string",
          "x-example" : "456799"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/AdGroupsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Ad Groups" ],
        "summary" : "Update an ad group by ad group id",
        "description" : "Updates an ad group.",
        "operationId" : "put-ad-groups",
        "consumes" : [ "application/vnd.advertiser.v9+json" ],
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "path",
          "description" : "The identifier of the ad group.",
          "required" : true,
          "type" : "string",
          "x-example" : "456799"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateAdGroupRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/advertiser-performance" : {
      "get" : {
        "tags" : [ "Reporting" ],
        "summary" : "Get advertiser performance results",
        "description" : "Gets the advertiser performance results for the period requested. The results are aggregated per day.",
        "operationId" : "get-advertiser-performance",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "start-date",
          "in" : "query",
          "description" : "The start date for the reporting period. Period start date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-01-01"
        }, {
          "name" : "end-date",
          "in" : "query",
          "description" : "The end date for the reporting period. This will be one day after the last full day that is included in the reporting. Period end date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-01-07"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/AdvertiserPerformanceResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/campaign-performance/{campaign-id}" : {
      "get" : {
        "tags" : [ "Reporting" ],
        "summary" : "Get campaign performance results",
        "description" : "Gets the performance results of a campaign for the period requested. The results are aggregated per day.",
        "operationId" : "get-campaign-performance",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "campaign-id",
          "in" : "path",
          "description" : "Unique identifier for the campaign.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "start-date",
          "in" : "query",
          "description" : "The start date for the reporting period. Period start date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-01-31"
        }, {
          "name" : "end-date",
          "in" : "query",
          "description" : "The end date for the reporting period. This will be one day after the last full day that is included in the reporting. Period end date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-02-02"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/CampaignPerformanceResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/campaigns" : {
      "get" : {
        "tags" : [ "Campaigns" ],
        "summary" : "Get a list of campaigns",
        "description" : "Gets a paginated list of all campaigns for an advertiser.",
        "operationId" : "get-campaigns",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/CampaignsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Campaigns" ],
        "summary" : "Create a campaign",
        "description" : "Creates a campaign.",
        "operationId" : "post-campaign",
        "consumes" : [ "application/vnd.advertiser.v9+json" ],
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateCampaignRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/campaigns/{campaign-id}" : {
      "get" : {
        "tags" : [ "Campaigns" ],
        "summary" : "Get a campaign by campaign id",
        "description" : "Gets the details of a campaign.",
        "operationId" : "get-campaign",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "campaign-id",
          "in" : "path",
          "description" : "Unique identifier for the campaign.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SingleCampaignResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Campaigns" ],
        "summary" : "Update a campaign by campaign id",
        "description" : "Updates a campaign.",
        "operationId" : "put-campaign",
        "consumes" : [ "application/vnd.advertiser.v9+json" ],
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "campaign-id",
          "in" : "path",
          "description" : "Unique identifier for the campaign.",
          "required" : true,
          "type" : "string",
          "x-example" : "123456"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateCampaignRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/keyword-performance/{ad-group-id}" : {
      "get" : {
        "tags" : [ "Reporting" ],
        "summary" : "Get keyword performance results",
        "description" : "Gets the performance results of all keywords within an ad group for the period requested. The results are returned per keyword and are aggregated to the period requested.",
        "operationId" : "get-keyword-performance",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "path",
          "description" : "The identifier of the ad group.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "start-date",
          "in" : "query",
          "description" : "The start date for the reporting period. Period start date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-01-31"
        }, {
          "name" : "end-date",
          "in" : "query",
          "description" : "The end date for the reporting period. This will be one day after the last full day that is included in the reporting. Period end date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-02-02"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/KeywordPerformanceResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/keywords" : {
      "get" : {
        "tags" : [ "Keywords" ],
        "summary" : "Get a list of keywords",
        "description" : "Gets a paginated list of all keywords that are present within an ad group.",
        "operationId" : "get-keywords",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "query",
          "description" : "The identifier of the parent ad group.",
          "required" : true,
          "type" : "string",
          "x-example" : "456799"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/KeywordsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Keywords" ],
        "summary" : "Create a keyword",
        "description" : "Creates a keyword and adds it to an ad group.",
        "operationId" : "create-keyword",
        "consumes" : [ "application/vnd.advertiser.v9+json" ],
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateKeywordRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/keywords/{keyword-id}" : {
      "get" : {
        "tags" : [ "Keywords" ],
        "summary" : "Get a keyword by keyword id",
        "description" : "Gets the details of a keyword.",
        "operationId" : "get-keyword",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "keyword-id",
          "in" : "path",
          "description" : "The identifier of the keyword.",
          "required" : true,
          "type" : "string",
          "x-example" : "123456"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Keyword"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Keywords" ],
        "summary" : "Update a keyword by keyword id",
        "description" : "Updates a keyword.",
        "operationId" : "put-keyword",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "keyword-id",
          "in" : "path",
          "description" : "The identifier of the keyword.",
          "required" : true,
          "type" : "string",
          "x-example" : "123456"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateKeywordRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Keywords" ],
        "summary" : "Delete a keyword by keyword id",
        "description" : "Deletes a single keyword.",
        "operationId" : "delete-keyword",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "keyword-id",
          "in" : "path",
          "description" : "The identifier of the keyword.",
          "required" : true,
          "type" : "string",
          "x-example" : "123456"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/negative-keywords" : {
      "get" : {
        "tags" : [ "Negative Keywords" ],
        "summary" : "Get a list of negative keywords",
        "description" : "Gets a paginated list of all negative keywords that are present within an ad group.",
        "operationId" : "get-negative-keywords",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "query",
          "description" : "The identifier of the parent ad group.",
          "required" : true,
          "type" : "string",
          "x-example" : "456799"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/NegativeKeywordsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Negative Keywords" ],
        "summary" : "Create a negative keyword",
        "description" : "Creates a negative keyword and adds it to an ad group.",
        "operationId" : "post-negative-keyword",
        "consumes" : [ "application/vnd.advertiser.v9+json" ],
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateNegativeKeywordRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/negative-keywords/{keyword-id}" : {
      "get" : {
        "tags" : [ "Negative Keywords" ],
        "summary" : "Get a negative keyword by keyword id",
        "description" : "Gets the details of a negative keywords.",
        "operationId" : "get-negative-keyword",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "keyword-id",
          "in" : "path",
          "description" : "The identifier of the negative keyword.",
          "required" : true,
          "type" : "string",
          "x-example" : "123432"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/NegativeKeyword"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Negative Keywords" ],
        "summary" : "Delete a negative keyword by keyword id",
        "description" : "Deletes a negative keyword.",
        "operationId" : "delete-negative-keyword",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "keyword-id",
          "in" : "path",
          "description" : "The identifier of the negative keyword.",
          "required" : true,
          "type" : "string",
          "x-example" : "123432"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/product-performance/{ad-group-id}" : {
      "get" : {
        "tags" : [ "Reporting" ],
        "summary" : "Get product performance results",
        "description" : "Gets the performance results of all target products within an ad group for the period requested. The results are returned per target product and are aggregated to the period requested.",
        "operationId" : "get-product-performance",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "path",
          "description" : "The identifier of the ad group.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "start-date",
          "in" : "query",
          "description" : "The start date for the reporting period. Period start date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-01-31"
        }, {
          "name" : "end-date",
          "in" : "query",
          "description" : "The end date for the reporting period. This will be one day after the last full day that is included in the reporting. Period end date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-02-02"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductPerformanceResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/search-term-performance/{ad-group-id}" : {
      "get" : {
        "tags" : [ "Reporting" ],
        "summary" : "Get search term performance results",
        "description" : "Gets the performance results of all search terms within an ad group for the period requested. The results are returned per search term and are aggregated to the period requested.",
        "operationId" : "get-search-term-performance",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "path",
          "description" : "The identifier of the ad group.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "start-date",
          "in" : "query",
          "description" : "The start date for the reporting period. Period start date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-01-31"
        }, {
          "name" : "end-date",
          "in" : "query",
          "description" : "The end date for the reporting period. This will be one day after the last full day that is included in the reporting. Period end date in ISO 8601 standard.",
          "required" : true,
          "type" : "string",
          "x-example" : "2021-02-02"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SearchTermPerformanceResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/target-products" : {
      "get" : {
        "tags" : [ "Target Products" ],
        "summary" : "Get a list of target products",
        "description" : "Gets a paginated list of all target products that are present within an ad group.",
        "operationId" : "get-target-products",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "ad-group-id",
          "in" : "query",
          "description" : "The identifier of the parent ad group.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/TargetProductsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Target Products" ],
        "summary" : "Create a target product",
        "description" : "Creates a target product and adds it to an ad group.",
        "operationId" : "post-target-products",
        "consumes" : [ "application/vnd.advertiser.v9+json" ],
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateTargetProductRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/advertiser/sponsored-products/target-products/{target-product-id}" : {
      "get" : {
        "tags" : [ "Target Products" ],
        "summary" : "Get a target product by target product id",
        "description" : "Gets the details of a target product.",
        "operationId" : "get-target-product",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "name" : "target-product-id",
          "in" : "path",
          "description" : "The identifier of the target product.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/TargetProduct"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Target Products" ],
        "summary" : "Update a target product by target product id",
        "description" : "Updates a target product.",
        "operationId" : "update-target-product",
        "produces" : [ "application/vnd.advertiser.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateTargetProductRequest"
          }
        }, {
          "name" : "target-product-id",
          "in" : "path",
          "description" : "The identifier of the target product.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "AdGroup" : {
      "type" : "object",
      "required" : [ "adGroupId", "state" ],
      "properties" : {
        "adGroupId" : {
          "type" : "string",
          "example" : "456799",
          "description" : "The identifier of the ad group."
        },
        "name" : {
          "type" : "string",
          "example" : "Ad group name.",
          "description" : "The name of the ad group."
        },
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "Unique identifier for the campaign."
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The current state of the ad group.",
          "enum" : [ "ENABLED", "PAUSED", "ARCHIVED", "PENDING", "ENDED", "PENDING_REVIEW", "OUT_OF_BUDGET", "ACCOUNT_OUT_OF_BUDGET" ]
        },
        "defaultBid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The default bid price. The price should always have two decimals precision."
        }
      }
    },
    "AdGroupPerformance" : {
      "type" : "object",
      "required" : [ "adGroupId" ],
      "properties" : {
        "date" : {
          "type" : "string",
          "example" : "2021-01-31",
          "description" : "The date to which the ad group results are aggregated."
        },
        "adGroupId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the ad group."
        },
        "adGroupName" : {
          "type" : "string",
          "example" : "My ad group",
          "description" : "The name of the ad group."
        },
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "Unique identifier for the campaign."
        },
        "impressions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 21,
          "description" : "The number of impressions for ads in the ad group."
        },
        "clicks" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 121,
          "description" : "The number of clicks on ads in the ad group. "
        },
        "ctr" : {
          "type" : "number",
          "example" : 0.0125,
          "description" : "The Click-Through Rate is a ratio of clicks versus impressions, with four decimals of precision."
        },
        "conversions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 13,
          "description" : "The number of product sales that resulted from visitors viewing ads, up to 14 days after they viewed the ad."
        },
        "conversionRate" : {
          "type" : "number",
          "example" : 0.2555,
          "description" : "The conversion rate is a ratio of the number of visitors who bought the product up to 14 days after viewing the ad, versus those who only viewed the ad, with four decimals of precision."
        },
        "sales" : {
          "type" : "number",
          "example" : 50.25,
          "description" : "The value of sales in EUR that happened up to 14 days after the visitor viewed an ad, with two decimals of precision."
        },
        "conversionsOtherEan" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 9,
          "description" : "The number of conversions of similar products with a different EAN up to 14 days after a visitor viewed an ad."
        },
        "salesOtherEan" : {
          "type" : "number",
          "example" : 20.99,
          "description" : "The value of sales in EUR of similar products with a different EAN up to 14 days after a visitor viewed an ad, with two decimals of precision."
        },
        "spent" : {
          "type" : "number",
          "example" : 125.89,
          "description" : "The amount spent on the ad group in EUR, with two decimals of precision."
        },
        "cpc" : {
          "type" : "number",
          "example" : 0.38,
          "description" : "The average Cost Per Click in EUR, with two decimals of precision."
        },
        "acos" : {
          "type" : "number",
          "example" : 0.1234,
          "description" : "The Advertising Cost Of Sale for the ad group is a ratio of the ad spend versus sales revenue, with four decimals of precision."
        },
        "roas" : {
          "type" : "number",
          "example" : 0.2222,
          "description" : "The Return on Advertising Spent for the ad group is a ratio of sales revenue versus ad spend, with four decimals of precision."
        }
      }
    },
    "AdGroupPerformanceResponse" : {
      "type" : "object",
      "required" : [ "adGroupPerformance" ],
      "properties" : {
        "adGroupPerformance" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AdGroupPerformance"
          }
        }
      },
      "description" : "Container of multiple ad-group performance results aggregated per day."
    },
    "AdGroupsResponse" : {
      "type" : "object",
      "required" : [ "adGroups" ],
      "properties" : {
        "adGroups" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AdGroup"
          }
        }
      },
      "description" : "Container for multiple ad groups."
    },
    "AdvertiserPerformance" : {
      "type" : "object",
      "properties" : {
        "date" : {
          "type" : "string",
          "example" : "2021-01-01",
          "description" : "The date to which all campaign results are aggregated."
        },
        "impressions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 101,
          "description" : "The total number of impressions for ads in all campaigns."
        },
        "clicks" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 259,
          "description" : "The total number of clicks on ads in all campaigns."
        },
        "ctr" : {
          "type" : "number",
          "example" : 0.2167,
          "description" : "The Click-Through Rate is a ratio of clicks versus impressions, with four decimals of precision."
        },
        "sales" : {
          "type" : "number",
          "example" : 12345.67,
          "description" : "The value of sales in EUR that happened up to 14 days after the visitor viewed an ad, with two decimals of precision."
        },
        "conversions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 33,
          "description" : "The total number of product sales that resulted from visitors viewing ads, up to 14 days after they saw the ad."
        },
        "conversionRate" : {
          "type" : "number",
          "example" : 0.0451,
          "description" : "The conversion rate is a ratio of the number of visitors who bought the product up to 14 days after viewing the ad, versus those who only viewed the ad, with four decimals of precision."
        },
        "spent" : {
          "type" : "number",
          "example" : 150.99,
          "description" : "The total amount spent on all campaign ads in EUR, with two decimals of precision. "
        },
        "cpc" : {
          "type" : "number",
          "example" : 0.32,
          "description" : "The average Cost Per Click in EUR, with two decimals of precision."
        },
        "acos" : {
          "type" : "number",
          "example" : 1.0055,
          "description" : "The Advertising Cost of Sale is a ratio of the ad spend versus sales revenue for all ads, with four decimals of precision."
        },
        "roas" : {
          "type" : "number",
          "example" : 2.1234,
          "description" : "The Return on Advertising Spent is a ratio of sales revenue versus ad spend, with four decimals of precision."
        }
      }
    },
    "AdvertiserPerformanceResponse" : {
      "type" : "object",
      "required" : [ "advertiserPerformance" ],
      "properties" : {
        "advertiserPerformance" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AdvertiserPerformance"
          }
        }
      },
      "description" : "Container of multiple advertiser performance results aggregated per day."
    },
    "Assortment" : {
      "type" : "object",
      "required" : [ "ean" ],
      "properties" : {
        "ean" : {
          "type" : "string",
          "example" : "8714612114551",
          "description" : "The EAN associated with the target product."
        }
      }
    },
    "Assortments" : {
      "type" : "object",
      "required" : [ "products" ],
      "properties" : {
        "products" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Assortment"
          }
        }
      }
    },
    "BiddingModel" : {
      "type" : "object",
      "required" : [ "strategy" ],
      "properties" : {
        "strategy" : {
          "type" : "string",
          "example" : "AUTO",
          "description" : "The type of strategy you will use for bidding on advertisements.",
          "enum" : [ "AUTO", "MANUAL_BY_KEYWORD", "MANUAL_BY_PRODUCT" ]
        },
        "automaticBidDesiredAcosPercentage" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 10,
          "description" : "Only required when the bidding strategy is set to AUTO. When provided, the bidding strategy will attempt to reach this ACoS. The format is a number without decimals that represents a percentage."
        },
        "defaultBid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The default bid price. The price should always have two decimals precision."
        }
      }
    },
    "CampaignCountry" : {
      "type" : "object",
      "required" : [ "countryCode" ],
      "properties" : {
        "countryCode" : {
          "type" : "string",
          "example" : "NL",
          "description" : "The target country in which your ads need to be shown.",
          "enum" : [ "NL", "BE" ]
        }
      }
    },
    "CampaignPerformance" : {
      "type" : "object",
      "required" : [ "campaignId" ],
      "properties" : {
        "date" : {
          "type" : "string",
          "example" : "2021-01-31",
          "description" : "The date to which the campaign results are aggregated."
        },
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "Unique identifier for the campaign."
        },
        "campaignName" : {
          "type" : "string",
          "example" : "My campaign",
          "description" : "The name of the campaign."
        },
        "impressions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 21,
          "description" : "The number of impressions for ads in the campaign."
        },
        "clicks" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 121,
          "description" : "The number of clicks on ads in the campaign."
        },
        "ctr" : {
          "type" : "number",
          "example" : 0.0125,
          "description" : "The Click-Through Rate is a ratio of clicks versus impressions, with four decimals of precision."
        },
        "conversions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 13,
          "description" : "The number of product sales that resulted from visitors viewing ads, up to 14 days after they viewed the ad."
        },
        "conversionRate" : {
          "type" : "number",
          "example" : 0.2555,
          "description" : "The conversion rate is a ratio of the number of visitors who bought the product up to 14 days after viewing the ad, versus those who only viewed the ad, with four decimals of precision."
        },
        "sales" : {
          "type" : "number",
          "example" : 50.25,
          "description" : "The value of sales in EUR that happened up to 14 days after the visitor viewed an ad, with two decimals of precision."
        },
        "conversionsOtherEan" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 9,
          "description" : "The number of conversions of similar products with a different EAN up to 14 days after a visitor viewed an ad."
        },
        "salesOtherEan" : {
          "type" : "number",
          "example" : 20.99,
          "description" : "The value of sales in EUR of similar products with a different EAN up to 14 days after a visitor viewed the ad, with two decimals of precision."
        },
        "spent" : {
          "type" : "number",
          "example" : 125.89,
          "description" : "The amount spent on the campaign in EUR, with two decimals of precision."
        },
        "cpc" : {
          "type" : "number",
          "example" : 0.38,
          "description" : "The average Cost Per Click in EUR, with two decimals of precision."
        },
        "acos" : {
          "type" : "number",
          "example" : 0.1234,
          "description" : "The Advertising Cost of Sale is a ratio of the ad spend versus sales revenue, with four decimals of precision."
        },
        "roas" : {
          "type" : "number",
          "example" : 0.2222,
          "description" : "The Return on Advertising Spent for the campaign is a ratio of sales revenue versus ad spend, with four decimals of precision."
        }
      }
    },
    "CampaignPerformanceResponse" : {
      "type" : "object",
      "required" : [ "campaignPerformance" ],
      "properties" : {
        "campaignPerformance" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CampaignPerformance"
          }
        }
      },
      "description" : "Container for multiple campaign performance elements."
    },
    "CampaignsResponse" : {
      "type" : "object",
      "required" : [ "campaigns" ],
      "properties" : {
        "campaigns" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/SingleCampaignResponse"
          }
        }
      },
      "description" : "Container for multiple campaigns."
    },
    "CreateAdGroupRequest" : {
      "type" : "object",
      "required" : [ "campaignId", "name" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "example" : "Ad group name.",
          "description" : "The name of the ad group.",
          "minLength" : 1,
          "maxLength" : 255
        },
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "Unique identifier for the campaign."
        },
        "defaultBid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The default bid price. The price should always have two decimals precision.",
          "minimum" : 0
        }
      }
    },
    "CreateBiddingModel" : {
      "type" : "object",
      "required" : [ "strategy" ],
      "properties" : {
        "strategy" : {
          "type" : "string",
          "example" : "AUTO",
          "description" : "The type of strategy you will use for bidding on advertisements.",
          "enum" : [ "AUTO", "MANUAL_BY_KEYWORD", "MANUAL_BY_PRODUCT" ]
        },
        "automaticBidDesiredAcosPercentage" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 10,
          "description" : "Only required when the bidding strategy is set to AUTO. When provided, the bidding strategy will attempt to reach this ACoS. The format is a number without decimals that represents a percentage.",
          "minimum" : 5,
          "maximum" : 50
        },
        "defaultBid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The default bid price. The price should always have two decimals precision.",
          "minimum" : 0
        }
      }
    },
    "CreateCampaignRequest" : {
      "type" : "object",
      "required" : [ "bidding", "countries", "name", "startDate", "state", "targetingType" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "example" : "Campaign name",
          "description" : "The name of the campaign.",
          "minLength" : 1,
          "maxLength" : 255
        },
        "startDate" : {
          "type" : "string",
          "example" : "2021-03-29",
          "description" : "The start date of the campaign. Must be a current or future date and will always be one full day."
        },
        "endDate" : {
          "type" : "string",
          "example" : "2021-05-10",
          "description" : "The end date of the campaign. Must be a future date that is at least one day after the start date of the campaign, and will always be one full day."
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The state of the campaign.",
          "enum" : [ "ENABLED", "PAUSED", "ARCHIVED" ]
        },
        "targetingType" : {
          "type" : "string",
          "example" : "MANUAL",
          "description" : "The type of keyword targeting for the campaign.",
          "enum" : [ "AUTO", "MANUAL" ]
        },
        "dailyBudget" : {
          "type" : "number",
          "example" : 123.45,
          "description" : "The maximum amount that can be spend in one day for this campaign. The amount should always have two decimals precision.",
          "minimum" : 0,
          "maximum" : 100000
        },
        "totalBudget" : {
          "type" : "number",
          "example" : 123.45,
          "description" : "The total budget that can be spend for this campaign. The amount should always have two decimals precision.",
          "minimum" : 0,
          "maximum" : 9223372036854775807
        },
        "countries" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CampaignCountry"
          },
          "maxItems" : 2147483647,
          "minItems" : 1
        },
        "bidding" : {
          "$ref" : "#/definitions/CreateBiddingModel"
        }
      }
    },
    "CreateKeywordRequest" : {
      "type" : "object",
      "required" : [ "adGroupId", "keywordText", "matchType" ],
      "properties" : {
        "adGroupId" : {
          "type" : "string",
          "example" : "456799",
          "description" : "The identifier of the parent ad group."
        },
        "keywordText" : {
          "type" : "string",
          "example" : "HDMI",
          "description" : "The text or phrase used in the keyword that caused the ad to be displayed to the user.",
          "minLength" : 1,
          "maxLength" : 255
        },
        "matchType" : {
          "type" : "string",
          "example" : "EXACT",
          "description" : "The match type that relates the keyword and the search term.",
          "enum" : [ "EXACT", "PHRASE" ]
        },
        "bid" : {
          "type" : "number",
          "example" : 0.21,
          "description" : "The bid price. The price should always have two decimals of precision.",
          "minimum" : 0
        }
      }
    },
    "CreateNegativeKeywordRequest" : {
      "type" : "object",
      "required" : [ "adGroupId", "keywordText", "matchType" ],
      "properties" : {
        "adGroupId" : {
          "type" : "string",
          "example" : "456799",
          "description" : "The identifier of the parent ad group."
        },
        "keywordText" : {
          "type" : "string",
          "example" : "The text or phrase.",
          "description" : "The text or phrase used in the negative keyword that caused the ad not to be displayed to the user.",
          "minLength" : 1,
          "maxLength" : 255
        },
        "matchType" : {
          "type" : "string",
          "example" : "EXACT",
          "description" : "The match type that relates the negative keyword and the search term.",
          "enum" : [ "EXACT", "PHRASE" ]
        }
      }
    },
    "CreateTargetProductRequest" : {
      "type" : "object",
      "required" : [ "adGroupId", "ean" ],
      "properties" : {
        "adGroupId" : {
          "type" : "string",
          "example" : "456799",
          "description" : "The identifier of the parent ad group."
        },
        "ean" : {
          "type" : "string",
          "example" : "8714612114551",
          "description" : "The EAN associated with the target product."
        },
        "bid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The bid price. The price should always have two decimals of precision.",
          "minimum" : 0
        }
      }
    },
    "Keyword" : {
      "type" : "object",
      "required" : [ "adGroupId", "campaignId" ],
      "properties" : {
        "keywordId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the keyword."
        },
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the parent campaign."
        },
        "adGroupId" : {
          "type" : "string",
          "example" : "456799",
          "description" : "The identifier of the parent ad group."
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The current state of the keyword.",
          "enum" : [ "ENABLED", "PAUSED" ]
        },
        "keywordText" : {
          "type" : "string",
          "example" : "HDMI",
          "description" : "The text or phrase used in the keyword that caused the ad to be displayed to the user."
        },
        "matchType" : {
          "type" : "string",
          "example" : "EXACT",
          "description" : "The match type that relates the keyword and the search term.",
          "enum" : [ "EXACT", "PHRASE" ]
        },
        "bid" : {
          "type" : "number",
          "example" : 0.21,
          "description" : "The bid price. The price should always have two decimals of precision."
        }
      }
    },
    "KeywordPerformance" : {
      "type" : "object",
      "required" : [ "adGroupId" ],
      "properties" : {
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the parent-campaign for this ad group."
        },
        "adGroupId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the ad group."
        },
        "keywordId" : {
          "type" : "string",
          "example" : "654321",
          "description" : "The identifier of the adgroup."
        },
        "keywordText" : {
          "type" : "string",
          "example" : "HDMI",
          "description" : "The text or phrase used in the keyword that caused the ad to be displayed to the user."
        },
        "impressions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 21,
          "description" : "The number of impressions from this keyword for ads in the ad group."
        },
        "clicks" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 121,
          "description" : "The number of clicks from this keyword on ads in the ad group."
        },
        "ctr" : {
          "type" : "number",
          "example" : 0.0125,
          "description" : "The Click-Through Rate is a ratio of clicks versus impressions from this keyword, with four decimals of precision."
        },
        "conversions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 13,
          "description" : "The number of product sales that resulted from visitors viewing ads with this keyword, up to 14 days after they viewed the ad."
        },
        "conversionRate" : {
          "type" : "number",
          "example" : 0.2555,
          "description" : "The conversion rate is a ratio of the number of visitors who bought the product up to 14 days after viewing the ad with this keyword, versus those who only viewed the ad, with four decimals of precision."
        },
        "sales" : {
          "type" : "number",
          "example" : 12345.67,
          "description" : "The value of sales in EUR that happened up to 14 days after the visitor viewed an ad with this keyword, with two decimals of precision."
        },
        "spent" : {
          "type" : "number",
          "example" : 125.89,
          "description" : "The amount spent on ads with this keyword in EUR, with two decimals of precision."
        },
        "cpc" : {
          "type" : "number",
          "example" : 0.38,
          "description" : "The average Cost Per Click of ads with this keyword in EUR, with two decimals of precision."
        },
        "acos" : {
          "type" : "number",
          "example" : 0.1234,
          "description" : "The Advertising Cost Of Sale for the ads with this keyword is a ratio of the ad spend versus sales revenue, with four decimals of precision."
        },
        "roas" : {
          "type" : "number",
          "example" : 0.2222,
          "description" : "The Return on Advertising Spent for ads with this keyword is a ratio of sales revenue versus ad spend, with four decimals of precision."
        },
        "averageWinningBid" : {
          "type" : "number",
          "example" : 0.21,
          "description" : "The value of the average winning bid for ads that used this keyword in the ad group in EUR, with two decimals of precision."
        }
      }
    },
    "KeywordPerformanceResponse" : {
      "type" : "object",
      "required" : [ "keywordPerformance" ],
      "properties" : {
        "keywordPerformance" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KeywordPerformance"
          }
        }
      },
      "description" : "Container of multiple key word performance results aggregated to the period requested."
    },
    "KeywordsResponse" : {
      "type" : "object",
      "required" : [ "keywords" ],
      "properties" : {
        "keywords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Keyword"
          }
        }
      }
    },
    "Link" : {
      "type" : "object",
      "required" : [ "href", "method", "rel" ],
      "properties" : {
        "rel" : {
          "type" : "string",
          "example" : "self",
          "description" : "The link relation."
        },
        "href" : {
          "type" : "string",
          "example" : "https://api.bol.com/shared/process-status/1234567",
          "description" : "The URI for the resource linked to."
        },
        "method" : {
          "type" : "string",
          "example" : "GET",
          "description" : "The HTTP method to use when accessing the link."
        }
      }
    },
    "NegativeKeyword" : {
      "type" : "object",
      "required" : [ "adGroupId", "campaignId", "keywordId" ],
      "properties" : {
        "keywordId" : {
          "type" : "string",
          "example" : "123432",
          "description" : "The identifier of the negative keyword."
        },
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the parent campaign."
        },
        "adGroupId" : {
          "type" : "string",
          "example" : "456799",
          "description" : "The identifier of the parent ad group."
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The state of the negative keyword.",
          "enum" : [ "ENABLED", "PAUSED" ]
        },
        "keywordText" : {
          "type" : "string",
          "example" : "The text or phrase.",
          "description" : "The text or phrase used in the negative keyword that caused the ad not to be displayed to the user."
        },
        "matchType" : {
          "type" : "string",
          "example" : "EXACT",
          "description" : "The match type that relates the negative keyword and the search term.",
          "enum" : [ "EXACT", "PHRASE" ]
        }
      }
    },
    "NegativeKeywordsResponse" : {
      "type" : "object",
      "required" : [ "negativeKeywords" ],
      "properties" : {
        "negativeKeywords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/NegativeKeyword"
          }
        }
      }
    },
    "Problem" : {
      "type" : "object",
      "required" : [ "violations" ],
      "properties" : {
        "type" : {
          "type" : "string",
          "format" : "uri",
          "example" : "https://api.bol.com/problems",
          "description" : "Type URI for this problem. Fixed value: https://api.bol.com/problems."
        },
        "title" : {
          "type" : "string",
          "example" : "Error validating request. Consult the bol.com API documentation for more information.",
          "description" : "Title describing the nature of the problem."
        },
        "status" : {
          "type" : "integer",
          "format" : "int32",
          "example" : "40X",
          "description" : "HTTP status returned from the endpoint causing the problem."
        },
        "detail" : {
          "type" : "string",
          "example" : "Bad request",
          "description" : "Detailed error message describing in additional detail what caused the service to return this problem."
        },
        "host" : {
          "type" : "string",
          "example" : "Instance-001",
          "description" : "Host identifier describing the server instance that reported the problem."
        },
        "instance" : {
          "type" : "string",
          "format" : "uri",
          "example" : "https://api.bol.com//retailer/resource",
          "description" : "Full URI path of the resource that reported the problem."
        },
        "violations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Violation"
          }
        }
      },
      "description" : "Describes a problem that occurred interacting with the API."
    },
    "ProcessStatus" : {
      "type" : "object",
      "required" : [ "createTimestamp", "description", "eventType", "links", "status" ],
      "properties" : {
        "processStatusId" : {
          "type" : "string",
          "example" : "1234567",
          "description" : "The process status id."
        },
        "entityId" : {
          "type" : "string",
          "example" : "987654321",
          "description" : "The id of the object being processed. For example, in case of a shipment process id, you will receive the id of the order item being processed."
        },
        "eventType" : {
          "type" : "string",
          "example" : "CONFIRM_SHIPMENT",
          "description" : "Name of the requested action that is being processed."
        },
        "description" : {
          "type" : "string",
          "example" : "Example process status description for processing 987654321.",
          "description" : "Describes the action that is being processed."
        },
        "status" : {
          "type" : "string",
          "example" : "SUCCESS",
          "description" : "Status of the action being processed.",
          "enum" : [ "PENDING", "SUCCESS", "FAILURE", "TIMEOUT" ]
        },
        "errorMessage" : {
          "type" : "string",
          "example" : "Example process status error message.",
          "description" : "Shows error message if applicable."
        },
        "createTimestamp" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2018-11-14T09:34:41+01:00",
          "description" : "Time of creation of the response."
        },
        "links" : {
          "type" : "array",
          "description" : "Lists available actions applicable to this endpoint.",
          "items" : {
            "$ref" : "#/definitions/Link"
          }
        }
      }
    },
    "ProductPerformance" : {
      "type" : "object",
      "required" : [ "adGroupId", "campaignId" ],
      "properties" : {
        "campaignId" : {
          "type" : "string",
          "example" : "737335",
          "description" : "The identifier of the parent-campaign for the ad group."
        },
        "adGroupId" : {
          "type" : "string",
          "example" : "725612",
          "description" : "The identifier of the ad group."
        },
        "targetProductId" : {
          "type" : "string",
          "example" : "123671281",
          "description" : "The identifier of the target product."
        },
        "ean" : {
          "type" : "string",
          "example" : "8714612114551",
          "description" : "The EAN number associated with this product."
        },
        "impressions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 470,
          "description" : "The number of impressions for the ads in the ad group."
        },
        "clicks" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 235,
          "description" : "The number of clicks on ads in the ad group."
        },
        "ctr" : {
          "type" : "number",
          "example" : 0.5667,
          "description" : "The Click-Through Rate is a ratio of clicks versus impressions, with four decimals of precision."
        },
        "conversions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 94,
          "description" : "The number of product sales that resulted from visitors viewing ads in this ad group, up to 14 days after they viewed the ad."
        },
        "conversionRate" : {
          "type" : "number",
          "example" : 0.4332,
          "description" : "The conversion rate is a ratio of the number of visitors who bought the product up to 14 days after viewing the ad, versus those who only viewed the ad, with four decimals of precision."
        },
        "sales" : {
          "type" : "number",
          "example" : 1020.53,
          "description" : "The value of sales in EUR that happened up to 14 days after the visitor viewed an ad, with two decimals of precision."
        },
        "conversionsOtherEan" : {
          "type" : "number",
          "example" : 0.0,
          "description" : "The number of conversions of similar products with a different EAN up to 14 days after a visitor viewed an ad."
        },
        "salesOtherEan" : {
          "type" : "number",
          "example" : 0.0,
          "description" : "The value of sales in EUR of similar products with a different EAN up to 14 days after a visitor viewed an ad, with two decimals of precision."
        },
        "spent" : {
          "type" : "number",
          "example" : 77.55,
          "description" : "The amount spent on the product in the ad group in EUR, with two decimals of precision."
        },
        "cpc" : {
          "type" : "number",
          "example" : 0.33,
          "description" : "The average Cost Per Click in EUR, with two decimals of precision."
        },
        "acos" : {
          "type" : "number",
          "example" : 0.0789,
          "description" : "The Advertising Cost Of Sale for the ad group is a ratio of the ad spend versus sales revenue, with four decimals of precision."
        },
        "roas" : {
          "type" : "number",
          "example" : 0.1316,
          "description" : "The Return on Advertising Spent for the products in the ad group is a ratio of sales revenue versus ad spend, with four decimals of precision."
        }
      }
    },
    "ProductPerformanceResponse" : {
      "type" : "object",
      "required" : [ "productPerformance" ],
      "properties" : {
        "productPerformance" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ProductPerformance"
          }
        }
      }
    },
    "SearchTermPerformance" : {
      "type" : "object",
      "required" : [ "adGroupId" ],
      "properties" : {
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the parent-campaign for this ad group."
        },
        "adGroupId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the ad group."
        },
        "keywordText" : {
          "type" : "string",
          "example" : "HDMI",
          "description" : "The text or phrase used in the keyword that caused the ad to be displayed to the user."
        },
        "searchTerm" : {
          "type" : "string",
          "example" : "N/A",
          "description" : "The search term that is matched to the keyword that caused the ad to be displayed to the user."
        },
        "impressions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 21,
          "description" : "The number of impressions from this search term for ads in the ad group."
        },
        "sales" : {
          "type" : "number",
          "example" : 25971.67,
          "description" : "The value of sales in EUR that happened up to 14 days after the visitor viewed an ad with this search term, with two decimals of precision."
        },
        "clicks" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 121,
          "description" : "The number of clicks from this search term on ads in the ad group."
        },
        "ctr" : {
          "type" : "number",
          "example" : 0.0125,
          "description" : "The Click-Through Rate is a ratio of clicks versus impressions from this search term, with four decimals of precision."
        },
        "conversions" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 13,
          "description" : "The number of product sales that resulted from visitors viewing ads with this keyword, up to 14 days after they viewed the ad."
        },
        "conversionRate" : {
          "type" : "number",
          "example" : 0.2555,
          "description" : "The conversion rate is a ratio of the number of visitors who bought the product up to 14 days after viewing the ad, versus those who only viewed the ad, with four decimals of precision."
        },
        "spent" : {
          "type" : "number",
          "example" : 125.89,
          "description" : "The amount spent on ads that used this search term in EUR, with two decimals of precision."
        },
        "cpc" : {
          "type" : "number",
          "example" : 0.38,
          "description" : "The average Cost Per Clicks of ads that were viewed with this search term in EUR, with two decimals of precision."
        },
        "acos" : {
          "type" : "number",
          "example" : 0.1234,
          "description" : "The Advertising Cost Of Sale for the ads with this search term is a ratio of the ad spend versus sales revenue, with four decimals of precision."
        },
        "roas" : {
          "type" : "number",
          "example" : 0.2222,
          "description" : "The Return on Advertising Spent for ads with this search term is a ratio of sales revenue versus ad spend, with four decimals of precision."
        },
        "averageWinningBid" : {
          "type" : "number",
          "example" : 0.21,
          "description" : "The value of the average winning bid for ads with this search term in an ad group in EUR, with two decimals of precision."
        },
        "searchVolume" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 12345,
          "description" : "The number of searches on this search term."
        },
        "keywordMatchType" : {
          "type" : "string",
          "example" : "exact",
          "description" : "The match type that relates the keyword and the search term.",
          "enum" : [ "EXACT", "PHRASE" ]
        }
      }
    },
    "SearchTermPerformanceResponse" : {
      "type" : "object",
      "required" : [ "searchTermPerformance" ],
      "properties" : {
        "searchTermPerformance" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/SearchTermPerformance"
          }
        }
      },
      "description" : "Container of multiple search term performance results aggregated to the period requested."
    },
    "SingleCampaignResponse" : {
      "type" : "object",
      "required" : [ "bidding", "campaignId", "countries", "name", "startDate", "state", "targetingType" ],
      "properties" : {
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "Unique identifier for the campaign."
        },
        "name" : {
          "type" : "string",
          "example" : "Campaign name",
          "description" : "The name of the campaign."
        },
        "startDate" : {
          "type" : "string",
          "example" : "2021-03-29",
          "description" : "The start date of the campaign. Must be a current or future date and will always be one full day."
        },
        "endDate" : {
          "type" : "string",
          "example" : "2021-05-10",
          "description" : "The end date of the campaign. Must be a future date that is at least one day after the start date of the campaign, and will always be one full day."
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The state of the campaign.",
          "enum" : [ "ENABLED", "PAUSED", "ARCHIVED", "PENDING", "ENDED", "PENDING_REVIEW", "OUT_OF_BUDGET", "ACCOUNT_OUT_OF_BUDGET" ]
        },
        "targetingType" : {
          "type" : "string",
          "example" : "MANUAL",
          "description" : "The type of keyword targeting for the campaign.",
          "enum" : [ "AUTO", "MANUAL" ]
        },
        "dailyBudget" : {
          "type" : "number",
          "example" : 123.45,
          "description" : "The maximum amount that can be spend in one day for this campaign. The amount should always have two decimals precision."
        },
        "totalBudget" : {
          "type" : "number",
          "example" : 123.45,
          "description" : "The total budget that can be spend for this campaign. The amount should always have two decimals precision."
        },
        "countries" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CampaignCountry"
          }
        },
        "bidding" : {
          "$ref" : "#/definitions/BiddingModel"
        }
      },
      "description" : "A single campaign."
    },
    "TargetProduct" : {
      "type" : "object",
      "required" : [ "adGroupId", "campaignId", "targetProductId" ],
      "properties" : {
        "targetProductId" : {
          "type" : "string",
          "example" : "1234312",
          "description" : "The identifier of the target product."
        },
        "campaignId" : {
          "type" : "string",
          "example" : "123456",
          "description" : "The identifier of the parent campaign."
        },
        "adGroupId" : {
          "type" : "string",
          "example" : "456799",
          "description" : "The identifier of the parent ad group."
        },
        "ean" : {
          "type" : "string",
          "example" : "8714612114551",
          "description" : "The EAN associated with the target product."
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The current state of the target product.",
          "enum" : [ "ENABLED", "PAUSED", "ARCHIVED", "PENDING", "ENDED", "PENDING_REVIEW", "OUT_OF_BUDGET", "ACCOUNT_OUT_OF_BUDGET" ]
        },
        "bid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The bid price. The price should always have two decimals of precision."
        }
      }
    },
    "TargetProductsResponse" : {
      "type" : "object",
      "required" : [ "targetProducts" ],
      "properties" : {
        "targetProducts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TargetProduct"
          }
        }
      }
    },
    "UpdateAdGroupRequest" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "example" : "Ad group name.",
          "description" : "The name of the ad group.",
          "minLength" : 1,
          "maxLength" : 255
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The state of the ad group.",
          "enum" : [ "ENABLED", "PAUSED", "ARCHIVED" ]
        },
        "defaultBid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The default bid price. The price should always have two decimals precision.",
          "minimum" : 0
        }
      }
    },
    "UpdateBiddingModel" : {
      "type" : "object",
      "properties" : {
        "automaticBidDesiredAcosPercentage" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 10,
          "description" : "Only required when the bidding strategy is set to AUTO. When provided, the bidding strategy will attempt to reach this ACoS. The format is a number without decimals that represents a percentage.",
          "minimum" : 5,
          "maximum" : 50
        },
        "defaultBid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The default bid price. The price should always have two decimals precision.",
          "minimum" : 0
        }
      }
    },
    "UpdateCampaignRequest" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "example" : "Campaign name",
          "description" : "The name of the campaign.",
          "minLength" : 1,
          "maxLength" : 255
        },
        "startDate" : {
          "type" : "string",
          "example" : "2021-03-29",
          "description" : "The start date of the campaign. Must be a current or future date and will always be one full day."
        },
        "endDate" : {
          "type" : "string",
          "example" : "2021-05-10",
          "description" : "The end date of the campaign. Must be a future date that is at least one day after the start date of the campaign, and will always be one full day."
        },
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The state of the campaign.",
          "enum" : [ "ENABLED", "PAUSED", "ARCHIVED", "PENDING", "ENDED", "PENDING_REVIEW", "OUT_OF_BUDGET", "ACCOUNT_OUT_OF_BUDGET" ]
        },
        "dailyBudget" : {
          "type" : "number",
          "example" : 123.45,
          "description" : "The maximum amount that can be spend in one day for this campaign. The amount should always have two decimals precision.",
          "minimum" : 0,
          "maximum" : 100000
        },
        "totalBudget" : {
          "type" : "number",
          "example" : 123.45,
          "description" : "The total budget that can be spend for this campaign. The amount should always have two decimals precision.",
          "minimum" : 0,
          "maximum" : 9223372036854775807
        },
        "bidding" : {
          "$ref" : "#/definitions/UpdateBiddingModel"
        }
      }
    },
    "UpdateKeywordRequest" : {
      "type" : "object",
      "required" : [ "bid" ],
      "properties" : {
        "bid" : {
          "type" : "number",
          "example" : 0.21,
          "description" : "The bid price. The price should always have two decimals of precision.",
          "minimum" : 0
        }
      }
    },
    "UpdateTargetProductRequest" : {
      "type" : "object",
      "properties" : {
        "state" : {
          "type" : "string",
          "example" : "ENABLED",
          "description" : "The current state of the target product.",
          "enum" : [ "ENABLED", "ARCHIVED" ]
        },
        "bid" : {
          "type" : "number",
          "example" : 0.55,
          "description" : "The bid price. The price should always have two decimals of precision.",
          "minimum" : 0
        }
      }
    },
    "Violation" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "example" : "exampleValue",
          "description" : "Describes the origin of the error, for instance a field or query parameter validation error."
        },
        "reason" : {
          "type" : "string",
          "example" : "Request contains invalid value(s): 'INVALID', allowed values: ALLOWED_VALUE1, ALLOWED_VALUE2.",
          "description" : "Detailed description of the validation error that caused the problem."
        }
      },
      "description" : "Describes a violation that occurred interacting with the API."
    }
  }
}